@mixin btn-default-props{
    display:inline-block;
    border-radius: $btn-border-radius;
}

@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center-h-v{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//GERENCIADOR DE MEDIA QUERY
/*
phone - max 600px - 37.5em
tab-port - max 900px - 56.25em
tab-land - max 1200px - 75em
desktop - configuração default
bigscreen - min 1800px - 112.5em

OBS: media query não leva em consideração rem declarado no base html font-size. 
por isso devo usar em como unidade de medida.

Ordem de desenvolvimento:
base > typography > general layout > grid > page layout > components
*/

@mixin responsive($device-breakpoint){
    @if $device-breakpoint == phone{ 
        @media (max-width: 37.5em) { @content };
    }
    @if $device-breakpoint == tab-port{ 
        @media (max-width: 56.25em) { @content };
    }
    @if $device-breakpoint == tab-land{ 
        @media (max-width: 75em) { @content };
    }
    @if $device-breakpoint == bigscreen{  
        @media (min-width: 112.5em) { @content };
    }
}